<a href="https://colab.research.google.com/github/Nub1k/coursera/blob/master/Capstone_Segmenting1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task one**: <br>
line (6): I scraped page using pd.read_html function. <br>
line (7): I filtered 'Borough' column not equal to 'Not assigned'.<br>
line (8): First, replace 'Not assigned' Neighbourhoods to empty cells than fill it with Borough. <br>
line (9): First, group Postcode and Borough columns than using agg method to aggregate Neighbourhoods separeted by commas.

In [44]:
import pandas as pd
import numpy as np
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'


df = pd.read_html(url)[0]  
df = df[df['Borough'] != 'Not assigned'].reset_index(drop=True)
df['Neighbourhood'] = df['Neighbourhood'].replace('Not assigned', np.NaN).fillna(df['Borough'])
df = df.groupby(['Postcode', 'Borough'], as_index=False)['Neighbourhood'].agg(lambda x: ', '.join(x))

df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [45]:
df.shape

(103, 3)